* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional - fixes the background while scrolling */
    overflow-x: hidden;
}

.navContainer {
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(100deg, #000000 0%, #8085d0 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    width: 100%;
}

#navList {
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2.3rem;
    display: flex;
    justify-content: space-around;
}

#navLogo {
    font-size: 2.8rem;
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

#navItems {
    display: flex;
    gap: 40px;
}

main {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity as needed */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 2000px;
    margin: 20px auto;
    text-align: center;
    flex-grow: 1;
    width:100%;
}

/* Style for tables */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
}

table th, table td {
    padding: 8px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

/* Style for User Management section */
#user-management {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Style for Recipe Management section */
#recipe-management {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}


/* Additional styling for the buttons */
.btn-custom-primary {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
}

.btn-custom-primary:hover {
    background-color: #0056b3;
}

.btn-custom-success {
    background-color: #28a745;
    color: #fff;
    border: 1px solid #28a745;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
}

.btn-custom-success:hover {
    background-color: #1f8c37;
}

.btn-custom-danger {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #dc3545;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
}

.btn-custom-danger:hover {
    background-color: #b52937;
}



/* Add this CSS to your userform.css file */

.logout {
    text-align: center;
    margin-top: 20px; /* Adjust the margin-top as needed to center it vertically */
}

.btn_logout {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
}

.btn_logout:hover {
    background: #0056b3; /* Change the background color on hover */
}

.button-link {
    background: none;
    color: #007bff;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
}

.button-link:hover {
    color: #0056b3; /* Change the text color on hover */
}


/* Styling for the footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
}

.footerBox {
    max-width: 960px;
    margin: 0 auto;
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;
}

.footerBox p {
    color: azure;
    font-size: 2rem;
}
