* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e2e5e8;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.navContainer {
    width: 100%;
    background: linear-gradient(100deg, #000000 0%, #8085d0 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    width: 100%;
}

#navList {
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2.3rem;
    display: flex;
    justify-content: space-around;
}

#navLogo {
    font-size: 2.8rem;
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

#navItems {
    display: flex;
    margin-top: 10px;
    gap: 40px;
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1800px;
    margin: 20px auto;
    text-align: center;
    flex-grow: 1;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
}

table th, table td {
    padding: 8px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

#user-management, #recipe-management {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Add your existing styles here */

.dashboard-actions {
    margin: 20px; /* Adjust margin as needed */
}

.new-recipe {
    background-color: green; /* Change the background color as needed */
    color: #ffffff; /* Set text color to white or another contrasting color */
    padding: 10px 15px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Add rounded corners if desired */
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
}

.new-recipe:hover {
    background-color: #2980b9; /* Change the background color on hover */
}


.btn-custom-primary, .btn-custom-success, .btn-custom-danger {
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn-custom-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-custom-primary:hover {
    background-color: #0056b3;
}

.btn-custom-success {
    background-color: #28a745;
    color: #fff;
}

.btn-custom-success:hover {
    background-color: #1f8c37;
}

.btn-custom-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-custom-danger:hover {
    background-color: #b52937;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    padding: 0 10px;
  }
  
  .button-container button {
    margin: 0 5px;
  }
  

.logout {
    text-align: center;
    margin-top: 20px;
}

.btn_logout {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn_logout:hover {
    background: #0056b3;
}

.button-link {
    background: none;
    color: #007bff;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
}

.button-link:hover {
    color: #0056b3;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
}

.footerBox {
    max-width: 960px;
    margin: 0 auto;
    background: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;
}

.footerBox p {
    color: azure;
    font-size: 2rem;
}
