* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional - fixes the background while scrolling */
    overflow-x: hidden;
}

.navContainer {
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(100deg, #000000 0%, #8085d0 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    width: 100%;
}

#navList {
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2.3rem;
    display: flex;
    justify-content: space-around;
}

#navLogo {
    font-size: 2.8rem;
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

#navItems {
    display: flex;
    gap: 40px;
}


/* Add a background color to make text more readable */
main {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity as needed */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    flex-grow: 1;
    width:100%;
}

.formarea {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 7px; /* Adjust the margin to control the spacing between buttons */
}

.btn_kembali {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 50px;
}

.btn_submit {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 50px;
}


button:hover {
    background: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
}

.noAccount {
    text-align: center;
    margin-top: 20px; /* Adjust the margin-top as needed to center it vertically */
}

.noAccount p {
    margin: 0; /* Remove default margin from the paragraph */
}

.noAccount a {
    color: #007bff;
    text-decoration: none;
}

.noAccount a:hover {
    text-decoration: underline;
}


/* Styling for the footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
}

.footerBox {
    max-width: 960px;
    margin: 0 auto;
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;
}

.footerBox p {
    color: azure;
    font-size: 2rem;
}
