* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e2e5e8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navContainer {
    width: 100vw;
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    width: 100%;
}

#navList {
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2.3rem;
    display: flex;
    justify-content: space-around;
}

#navLogo {
    font-size: 2.8rem;
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

#navItems {
    display: flex;
    gap: 40px;

}

main {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Increase the width to your desired value */
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="number"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
}

/* Style for the submit button */
.upload {
    background: #4CAF50; /* Green color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 12px 20px; /* Adjust the padding for the desired size */
    font-size: 18px; /* Adjust the font size as needed */
    cursor: pointer;
    transition: background 0.3s ease; /* Add a smooth transition effect */

    /* Hover effect */
    &:hover {
        background: #45a049; /* Darker green color on hover */
    }
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.add-ingredient,
.add-step,
.remove-ingredient,
.remove-step {
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.add-ingredient:hover,
.add-step:hover,
.remove-ingredient:hover,
.remove-step:hover {
    background: #c82333;
}

/* Style for required fields with red stars */
.required {
    color: red;
    margin-left: 5px;
}

/* Style for warning messages */
.warning {
    background-color: #ffcccc; /* Light red background color */
    color: #ff0000; /* Red text color */
    border: 1px solid #ff0000; /* Red border */
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}



/* Add this CSS to your userform.css file */

.logout {
    text-align: center;
    margin-top: 20px; /* Adjust the margin-top as needed to center it vertically */
}

.btn_logout {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
}

.btn_logout:hover {
    background: #0056b3; /* Change the background color on hover */
}

.button-link {
    background: none;
    color: #007bff;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
}

.button-link:hover {
    color: #0056b3; /* Change the text color on hover */
}


/* Styling for the footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 100px;
    width: 100%;
}

.footerBox {
    max-width: 960px;
    margin: 0 auto;
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;
}

.footerBox p {
    color: azure;
    font-size: 2rem;
}